/* Change heading fonts and colors */
.bg-background {
    background: #f9f6f1 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Console", "Courier New", monospace !important;
    font-weight: bold !important;
}

h1, h4 {
    color: #22807c !important;
}

h2, h5 {
    color: #22807c !important;
}

h3, h6 {
    color: #22807c !important;
}

...

.hero {
  background-color: #508484;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 36px;
}

.hero-title {
  font-size: 4rem;
    color: #2f7680 !important;
    margin-bottom: 0px;
}

.hero-description {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.hero-button {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.hero-button:hover {
  background-color: #de7914;
  color: #fff;
}

.middle-button-container {
  text-align: center;
  margin: 30px 0; 
        }

.middle-button {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
        }

.middle-button:hover {
  background-color: #45a049;
        }
